@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
.allura-regular {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px !important;
  color: #969696 !important;
}

.header {
  background-color: white;
  margin: 10px auto;
  padding: 100px 100px 0;
  max-width: 1100px;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    color: #2d2d2d;
  }

  .link {
    font-size: 14px;
    line-height: 28px;
    color: #2d2d2d;
    color: #bfbfbf;
    text-decoration: none;
    cursor: pointer;
    padding: 37.5px 0;
  }

  .link:hover {
    text-decoration: none;
    color: #969696;
  }
}

@media (min-width: 320px) and (max-width: 752px) {
  .header {
    background-color: white;
    margin: 10px auto;
    padding: 0 20px;

    .allura-regular {
      font-size: 32px !important;
    }
  }
}

@media (min-width: 753px) and (max-width: 1022px) {
  .header {
    padding: 0 20px;
  }
}
@media (min-width: 1024px) {
  .header {
    padding: 0 20px;
  }
}


ul {
  display: flex;
  margin: 0;
}
li {
  list-style-type: none;
  padding: 0 18px;
}
