.header{
  background-color: white;
  // height: 40px;

  .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
}

.logo{
  color: #2d2d2d;
}

ul {
  display: flex;
  margin: 0;
}
li {
  list-style-type: none;
  padding: 0 18px;
}

.link {
  color: #2d2d2d;;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
