@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.allura-regular {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px !important;
  color: #969696 !important;
}


.header{
  background-color: white;
  margin: 10px auto;
  padding: 100px 100px 0;
  max-width: 1100px;

  .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo{
  color: #2d2d2d;
}

ul {
  display: flex;
  margin: 0;
}
li {
  list-style-type: none;
  padding: 0 18px;
}

.link {
  font-size: 14px;
  line-height: 28px;
  // color: #2d2d2d;
  color: #bfbfbf;
  text-decoration: none;
  cursor: pointer;
  padding: 37.5px 0;
}

.link:hover {
  text-decoration: none;
  color: #969696;
}
