.exhibitions {
  .heading {
    text-align: center;
    font-weight: 100;
    margin-top: 0;
  }
  .about {
    .right-block {
      .list {
        font-size: 16px;
        padding: 0;
        display: flex;
        flex-direction: column;

        &-item {
          list-style-type: none;
          padding: 0;
        }
      }
    }
  }
}

@media (max-width: 752px) {
  .exhibitions {
    .about {
      .right-block {
        .list {
          font-size: 14px;
        }
      }
    }
  }
}

@media (min-width: 753px) and (max-width: 1024px) {
  .about {
    flex-direction: row;
  }
}


@media (min-width: 1025px) {
  .about {
    gap: 40px;
  }
}