.exhibitions {
  display: flex;
  flex-direction: column;

  margin: 10px auto;
  padding: 100px 100px 0;
  max-width: 1100px;

  .heading {
    padding: 60px;
    margin: auto;
    font-weight: 400;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-top: 0;

    li:first-child {
        padding-top: 0;
    }

  }

  .heading {
    margin: auto;
  }

  .left-block,
  .right-block {
    width: 50%;
  }

  .right-block {
    display: flex;
    flex-direction: column;
  }

  .right-block > img {
    min-width: 400px;
  }

  .block-wrapper {
    display: flex;
  }
}
