@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

.footer {
  margin: 10px auto;
  padding: 100px 100px 0;
  max-width: 1100px;
  bottom: 0;
  font-size: 14px;
  line-height: 28px;
  color: #bfbfbf;
  text-decoration: none;
  cursor: pointer;
  padding: 37.5px 0;

  &-wrapper {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    font-size: 14px;
  }

  &-dev-link {
    color: #828aa0;
    padding-left: 4px;
  }

  &-social {
    display: flex;

    &__link {
      width: 30px;
      height: 30px;
      margin-left: 4px;
      background-color: #bfbfbf;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__link > svg {
      fill: #ffffff;
    }

    &__link:hover {
      background-color: #969696;
    }
  }

  .allura {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px !important;
    color: #969696 !important;
    text-decoration: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .footer {
    margin-top: 20px;
    bottom: 0;
    max-width: 100%;
    padding: 0 20px;
  }

  .footer-content-wrapper {
    font-size: 14px;
  }
}

@media screen and (min-width: 425px) and (max-width: 1024px) {
  .footer {
    margin-top: 20px;
    bottom: 0;
    max-width: 100%;
    padding: 0 20px;
  }

  .footer-content-wrapper {
    font-size: 16px;
  }
}

@media screen and (min-width: 1025px) {
  .footer {
    padding: 0 20px;
    max-width: 1100px;
  }
}
