@media (max-width: 1023px) {
  .desktopNav {
    display: none;
  }
}

@media (min-width: 1024px) {
  .desktopNav {
    display: flex;
  }
}

.button {
  // color: #2d2d2d;
  color: #bfbfbf;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 14px;
  line-height: 28px;
  padding: 37.5px 0;
}

.button:hover {
  text-decoration: none;
  color: #969696;
}

.list-item {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0 18px;
}
